* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HeaderFont';
    src: url(fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: 'CardFont';
    src: url(fonts/Domine-Regular.ttf);
}

@font-face {
    font-family: 'FooterFont';
    src: url(fonts/Satisfy-Regular.ttf);
}

body {
    background-color: hsl(225.1, 94.4%, 21%);
}

h1 {
    text-align: center;
    height: 128px;
    font-size: 3.4em;
    color: hsl(225.1, 94.4%, 50%);
    text-shadow: 3px 4px 9px hsl(225.1, 94.4%, 50%);
    font-family: 'HeaderFont';
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

@mixin card-style($bHeight, $bWidth, $inputWidth) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(225.1, 94.4%, 35%);
    box-shadow: 3px 4px 13px black;

    .buttons {
        margin-top: 50px;

        button {
            width: $bWidth;
            height: $bHeight;
            background-color: hsl(225.1, 94.4%, 50%);
            border-style: none;
            color: white;
            font-size: 1em;
            font-weight: bold;
            font-family: 'CardFont';
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: hsl(225.1, 94.4%, 30%);
                color: hsl(225.1, 94.4%, 50%);
            }

        }
    }

    input {
        width: $inputWidth;
        height: 35px;
        background-color: hsl(225.1, 94.4%, 50%);
        border-style: none;
        color: white;
        padding: 0 7px;
        font-family: 'CardFont';



    }

}

.card {
    height: 200px;
    width: 300px;
    @include card-style(30px, 100px, 80%);


}

@media(max-width:630px) {
    .card {
        height: 200px;
        width: 200px;
        @include card-style(30px, 90px, 90%);
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 0;

    p {
        text-align: center;
        color: #ffffff1a;
        font-family: 'FooterFont';
    }
}